/*top nav*/
.topnav{
    position: fixed;
    display: flex;
    flex-direction: column; 
    width: 100%;  
}
.title{
    background-color: rgb(194, 203, 210);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}
#navLink{
    text-decoration: none;
    color: white;
}